apiVersion: v2
name: "cray-hms-firmware-action"
version: 3.1.13
description: "Kubernetes resources for cray-hms-firmware-action"
home: "https://github.com/Cray-HPE/hms-firmware-action-charts"
sources:
  - "https://github.com/Cray-HPE/hms-firmware-action"
dependencies:
  - name: cray-service
    version: "~11.0"
    repository: https://artifactory.algol60.net/artifactory/csm-helm-charts
  - name: cray-etcd-base
    version: "~1.2"
    repository: https://artifactory.algol60.net/artifactory/csm-helm-charts
maintainers:
  - name: Hardware Management
    url: https://github.com/orgs/Cray-HPE/teams/hardware-management
appVersion: "1.38.0"
annotations:
  artifacthub.io/images: |-
    - name: cray-hms-firmware-action-pprof
      image: artifactory.algol60.net/csm-docker/stable/cray-firmware-action-pprof:1.38.0
  artifacthub.io/license: "MIT"
